@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #75A47F;
    --color-white: #fff;
    --color-info: #7d8da1;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;
    --border-radius-2: 1.2rem;
}

html{
    font-size: 12px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: .88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

h1{
    font-weight: 600;
    font-size: 1.8rem;
}

h2{font-size: 1.4rem;}
h3{font-size: .87rem;}
h4{font-size: .8rem;}
h5{font-size: .77rem;}
small{font-size: .75rem;}

.primary{color: var(--color-primary);}

header{position: relative;}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding-top: 8rem;
}

.login-container form .box {
    position: relative; /* Make the box position relative */
}

.login-container form .box p {
    bottom: -7px;
    margin-top: -5px;
    position: relative;
    font-weight: 550;
}


.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius-2);
    padding: 3.5rem;
    background-color: var(--color-white);
    /* border: solid 2px var(--color-light); */
    width: 95%;
    max-width: 32rem;
    max-height: 30rem;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}



.infinity-free {
    position: relative;
    bottom: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: none;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infinity-free h1 img {
    height: 3rem; /* Adjust height as needed */
    vertical-align: middle; /* Align the icon vertically with the text */
}



.login-container form .box input[type=password],
.login-container form .box input[type=email] {
    border: none;
    outline: none;
    border: 1px solid var(--color-light);
    background: transparent;
    height: 3rem;
    width: 100%;
    padding: 0.5rem;
}
.login-container form input[type=password]::placeholder,
.login-container form input[type=email]::placeholder {
    color: var(--color-info); /* Set the placeholder color to light gray */
    padding-left: 1px; /* Adjust the padding as needed */
}


.login-container form .box{
    padding: .5rem 0;
}
.login-container form .box p{
    line-height: 2;
}
/* Sign up for Internship */
.centered {
    text-align: center;
    padding-bottom: 2rem;
    color: #75A47F;
}


/* Increase the size of the checkbox */
.form-check {
    padding-top: 10px;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.form-check-input[type="checkbox"] {
    width: 20px; /* Adjust this value as needed */
    height: 20px; /* Adjust this value as needed */
    margin-right: 10px; /* Adjust the spacing between the checkbox and label */
    cursor: pointer;
}

.form-check-label {
    padding-top: .5rem;
}

.form-check-label {
    padding-left: 0; /* Reset padding */
}

.form-check-label a {
    text-decoration: none;
}

.login-container form h2+p{margin: .4rem 0 1.2rem 0;}
.btn{
    background: none;
    border: none;
    border: 2px solid var(--color-primary) !important;
    border-radius: 1.5;
    padding: .5rem 1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
    margin: 1rem 1.5rem 1rem 0;
    margin-top: 2rem;
    height: 3rem;
    width: 100%;
}

.btn:hover{
    color: var(--color-primary);
    background-color: transparent;
}

.goto-signup-label, .goto-signup-link {
    text-align: center;
}


.goto-signup-label {
    position: relative;
    top: 3.7rem;
    left: 50%;
    padding-right: 4.2rem;
    transform: translateX(-50%); /* Center it horizontally */
}

.goto-signup-link {
    position: relative;
    top: 1.4rem; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Center it horizontally */
    padding-left: 11.5rem;
    transform: translateX(-50%); /* Center it horizontally */
    text-decoration: none;
    color:#75A47F;
}



.forget-pass a {
    float: right;
    padding-right: .3rem;
    text-decoration: none;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
}


/* alert message */

.alert-container {
    position: absolute;
    top: 15%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 10px;
  }
  
  .alert-message {
    display: none;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
  }
  
  .alert-message.show {
    display: block;
  }
  
  .section-divider-top {
    border-bottom: 2px solid #e9ecef;
    margin: 5px 0;
}




